body {
    font-family: 'Roboto', Arial, sans-serif; /* Default to Roboto */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

h1 {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #413e66;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; /* Center the content horizontally */
    max-width: 1700px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}


.chart-container {
    max-width: 600px;
    height: 800px;
    position: relative;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 150px;
    padding: 8px;
    font-size: 12px;
    background-color: rgba(173, 216, 230, 1);
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #333;
}

#storytelling-section {
    text-align: center;
    width: 1600px;
    max-height: 800px;
    overflow-y: auto;
    background-color: rgba(204, 228, 236, 0.9);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: auto; /* Center horizontally */
    font-family: 'Roboto', sans-serif; /* Apply Roboto font here */
    color: #333;
    line-height: 1.8;
}

.data-source {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #333;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: #1bb1dc; 
    margin: 8px auto 0;
    border-radius: 2px;
  }