body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #413e66;
    margin: 20px 0;
    font-size: 24px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

#summary-table-container {
    width: 300px;
    max-height: 800px;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0e7f5;
    color: #333;
    font-weight: bold;
}

.chart-container {
    max-width: 800px;
    height: 800px;
    position: relative;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 150px;
    padding: 8px;
    font-size: 12px;
    background-color: rgba(173, 216, 230, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #333;
}
