html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #413e66;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 20px;
}

.chart-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.chart-container {
    width: 100%;
    margin-bottom: 20px;
}

.rate-button {
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.rate-button:hover {
    color: #1bb1dc;
    border-bottom: 2px solid #1bb1dc;
}

.rate-button.active {
    background-color: #1bb1dc;
    color: #fff;
    border-bottom: 2px solid #1bb1dc;
}

.dropdown {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    background: lightsteelblue;
    border-radius: 8px;
    pointer-events: none;
}

/* Explanation Container styling */
.explanation-container {
    width: 35%;
    padding: 20px;
    background-color: rgba(204, 228, 236, 0.9); /* Match the light blue background */
    margin-bottom: 10px; /* Adjusted to move the explanation down */
    margin-left: -50px;
    border-radius: 12px;
    color: #333;
}

.explanation-text {
    display: none;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.explanation-text h3 {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Footer styling */
.footer {
    text-align: center;
    font-size: 12px;
    color: #333;
    margin-top: 20px;
}

.footer a {
    color: #1bb1dc;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}