body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.chart {
    display: block;
    margin: auto;
}

.legend {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
