body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
    color: #555;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

button:hover {
    color: #007BFF; /* Hover color */
    border-bottom: 2px solid #007BFF; /* Underline on hover */
}

button.active {
    color: #007BFF; /* Active color */
    border-bottom: 2px solid #007BFF; /* Underline for the active button */
}

.content-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.description {
    width: 45%; /* Adjusted to 70% for the description area */
    padding: 20px;
    text-align: left;
    /* Removed the border-right to eliminate the vertical line */
}

.chart-container {
    width: 65%; /* Adjusted to 30% for the chart and legend area */
    padding: 20px;
    text-align: center;
}

.chart {
    display: none;
}

.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
