body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5f8fc, #e0e7f5);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #413e66;
    margin-top: 40px; /* Increased top margin for more space */
    font-size: 32px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    padding: 12px 25px; /* Slightly increased padding for better button size */
    font-size: 16px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: #e0e7f5;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00bfff;
    color: white;
}

button.active {
    background-color: #00bfff;
    color: white;
}

.content-container {
    display: flex;
    justify-content: space-between; /* Changed to space-between for better spacing */
    max-width: 1400px; /* Increased width to give more room */
    margin: auto;
    padding: 40px 20px; /* Increased padding for better spacing around content */
}

.description {
    width: 45%;  /* Increased width to allow more space */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.chart-container {
    width: 50%;  /* Adjusted width for better space allocation */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; /* Added bottom margin to create space between the chart and legend */
}

.legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px; /* Increased margin-top to push legend below the chart */
    padding: 10px;  /* Added padding for better visual separation */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px; /* Adjusted spacing between legend items */
}

.legend-color {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border-radius: 3px;
}

.data-source {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 25px;
    line-height: 1.6;
}


.data-source a {
    color: #1bb1dc;
    text-decoration: none;
}

.data-source a:hover {
    text-decoration: underline;
}
